@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

@import '~antd/dist/antd.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.ant-form {
  margin: 50px auto 0 !important;
}
.login-form {
  max-width: 300px;
  margin: 50px auto 0;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.toggleForm {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
